<!DOCTYPE html>
<html lang="es">
<head th:replace="layouts/fragmentos :: cabecera"></head>
<body class="sb-nav-fixed">
    <header th:replace="layouts/fragmentos :: barraSuperior"></header>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav" th:replace="layouts/fragmentos :: menu">

        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4 py-4">
                    <form th:action="@{/categoria/form}" th:object="${categoria}"
                        method="post">
                        <div class="card">
                            <div class="card-header" >Datos
                                de la categoría</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label>Nombre:</label> <input th:field="*{nombre}" type="text"
                                            class="from-control" placeholder="Ingrese nombre" />
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label>Descripción:</label> <input th:field="*{descripcion}"
                                            type="text" class="from-control"
                                            placeholder="Ingrese descripción" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 text-center">
                                        <button type="submit" class="btn btn-dark">
                                            <i class="far fa-save"></i> Guardar Categoria
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <br>
                    <div class="card">
                        <div class="card-header" >Categoria Registradas</div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead class="table-dark table-hover">
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre</th>
                                            <th>Descripcion</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="item: ${listaCategorias}">
                                            <td th:text="${item.id}"></td>
                                            <td th:text="${item.nombre}"></td>
                                            <td th:text="${item.descripcion}"></td>
                                            <td class="text-center">
                                            
                                            <button href="#" th:id="${item.id}" th:param1="${item.nombre}" th:param2="${item.descripcion}" class="btn btn-dark text-white editarCategoria"   data-toggle="modal" data-target="#editModal"><i
                                                    class="fas fa-edit"></i> Editar</button>
                                            </td>
                                            <td class="text-center">
                                            	<a th:href="@{/categoria/eliminar/}+${item.id}" class="btn btn-danger" onclick="return confirm('Desea eliminar?')">
                                            	<i class="far fa-trash-alt"></i> Eliminar
                                            	</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto"
                th:replace="layouts/fragmentos :: footer"> </footer>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="editModal" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Categoria</h5>
                    <button type="button" class="btn-close" data-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <form th:action="@{/categoria/form}" th:object="${categoria}" method="post">
	                <input type="hidden" th:field="*{id}"/>
	                <div class="modal-body">
	                
	                    <div class="form-row">
	                        <div class="col-12">
	                        <label>Nombre:</label>
	                        <input type="text" class="form-control" id="txtNombre" name="nombre" />
	                        </div>
	                    </div>
	                    
	                    <div class="form-row">
	                        <div class="col-12">
	                        <label>Descripcion:</label>
	                        <input type="text" class="form-control" id="txtDescripcion" name="descripcion"/>
	                        </div>
	                    </div>
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-secondary"
	                        data-dismiss="modal"><i class="fas fa-ban"></i> Cancelar</button>
	                    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar Cambios</button>
	                </div>
	              </form>  
            </div>
        </div>
    </div>
    <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <script th:src="@{/js/categoria.js}"></script>
</body>
</html>