body{ 
	background-color: #2fcba8;
 }
 .cuadro{ 
	background-color: #FFFFFF;
	max-width: 	450px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
	text-align: center;
	border-radius: 	15px;
	box-shadow: 0px 0px 20px #000000;
 }
 h3{ 
	padding-top: 25px;
	margin-bottom: 30px;
	font-size: 	18px;
 }

 .linea{ 
	border-bottom: 	3px solid #2fcba8;
	padding-bottom: 5px;
 }

 .margen{ 
 	margin-top: 20px;
	margin-left: 	50px;
	margin-right: 	50px;
 }
 .colorBoton{ 
	background-color: #2fcba8;
	border-color: 	#2fcba8;;
 }
 .colorBoton:hover{ 
	background-color: 	#D50538;
	border-color: 	#e84068;
 }